.markdown-body > .position-relative:first-child {
    display: block !important;
    position: relative;
    min-height: 42px;
    margin-bottom: 0.15rem;
}

.markdown-body > .position-relative:first-child > span:first-child {
    display: none !important;
}

.markdown-body .profile-color-modes-toggle {
    display: inline-block !important;
}

.markdown-body > script + div > div:first-child {
    margin-top: 0 !important;
    margin-bottom: 0.125rem !important;
}

.markdown-body > script + div > div:first-child img[alt^="Previous"],
.markdown-body > script + div > div:first-child img[alt^="Next"],
.markdown-body > script + div > div:first-child img[alt^="Monthly Overview"] {
    display: block;
}

.markdown-body > script + div > div:first-child + .markdown-heading {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.markdown-body > script + div > div:first-child + .markdown-heading > .heading-element {
    margin-top: 0 !important;
}
