.markdown-body > .position-relative:first-child {
    display: none !important;
}

.markdown-body .profile-color-modes-toggle {
    display: none !important;
}

.markdown-body > script + div > div:first-child {
    margin-bottom: 1.5rem;
}

.markdown-body > script + div > div:first-child img[alt^="Previous"],
.markdown-body > script + div > div:first-child img[alt^="Next"],
.markdown-body > script + div > div:first-child img[alt^="Monthly Overview"] {
    display: block;
}
